.grid-container.horizontal {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.grid-container.vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  /* Ensure it takes full height */
}

.grid-item.top {
    align-items: flex-start;
}

.grid-item.middle {
    align-items: center;
}

.grid-item.bottom {
    align-items: flex-end;
}
