.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Ensure it takes full height */
}

.grid-item.y-top {
  align-items: flex-start;
}

.grid-item.y-middle,
.grid-item.y-center {
  align-items: center;
}

.grid-item.y-bottom {
  align-items: flex-end;
}

.grid-item.x-left {
  justify-content: left;
}

.grid-item.x-right {
  justify-content: right;
}
